*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  text-align: center;
}

.Card_Home{
  place-items: center;
}

.Nav_bar{
  position: fixed;
  width: 100%;
  z-index: 300;
}

.images_img img{
  border-bottom: 1px solid var(--light-gray);
  height: 251px;
  position: relative;
  object-fit: contain;
  margin-top: 1rem;
}

.images_img {
  margin: 3%;
}

.card_menu{
  position: fixed;
    top: 0rem;
    left: 0;
    height: 100%;
    width: 20%;
  display: none;
  box-shadow: inset 17px -6em 3em #0000001a, 1em 1em 1em #6e766f4d;
      top: 5rem;
}

.min_card_menu{
  position: fixed;
  top: 12vh;
  left: 10vh;
}

.card_menu button{
  height: 3rem;
  width: 100%;
}

.colors_a a{
background-color: red;
}

.carousel-indicators [data-bs-target]{
  background-color: red !important ;
}

.footer{
  background: #2c3e50;
    margin: 0;
    color: white;
    height: 18vh;
    z-index: 1;
    width: 100%;
    position: absolute;
}

.footer h2{
  font-size: 1.2rem;
}

.footer_container{
  display: flex;
    justify-content: center;
    gap: 2.3rem;
}

.footer_card{
  background: red;
  border-radius: 57%;
  height: 3rem;
  width: 3rem;
  position: relative;
}

.footer_mincard{
  position: absolute;
  top: 9px;
  left: 10px;
}

.card_push{
  width: 90%;
  margin: 1rem;
}


@media (min-width: 980px) {
  .Card_Home{
    display: grid;
    grid-template-columns: 20% 1fr;
  }
  .card_menu{
    display: revert;
  }
}






