*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.Card_Home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: radial-gradient(black, transparent);
}